
body{
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f4f4f4;
}

li{
    text-decoration: none;
    list-style: none;
}

.sidebar{
    display: flex;
    
}

a{
    text-decoration: none;
    font-size: 1.3em;
   
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    border: 1px solid #7d0b0b;
    padding: 8px;
    text-align: center;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.1em;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.1em;
}

.highlighted-row {
  background-color: #a8efff; 
  font-weight: bold;
  

} 

.fields{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
}
.field{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
}